.header {
  width: 100%;
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 24px 0;

  /* background-image: url("../../../../assets/images/space.jpg");
  background-size: cover;
  background-repeat: no-repeat; */

  /*--------------------------  */
  background: #000000
    url("http://www.script-tutorials.com/demos/360/images/stars.png") repeat top
    center;
  z-index: -1;
}

.twinkling {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px;
}

.wrapper-header {
  display: flex;
  flex-direction: column-reverse;

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.home-heading {
  margin: 0;

  font-size: 40px;
}

.header-text {
  margin-bottom: 64px;
}

.twinkling {
  background-image: url(https://i.postimg.cc/CLpNr4PF/twinkling.png);
  animation: 2s twinkle infinite;
  animation-timing-function: linear;
}

@keyframes twinkle {
  from {
    backrgound-position: 0;
  }
  to {
    background-position: -100px 0;
  }
}
